<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambo Bot</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>
    <header>
          <div class="collapse" id="navbarToggleExternalContent">
              <div class="p-4">
                  <h5 class="text-white h4">Collapsed content</h5>
                  <span class="text-muted">Toggleable via the navbar brand.</span>
              </div>
          </div>
          <nav class="navbar navbar-dark">
              <div class="container-fluid p-4">
                  <h1 class="text-white">Lambo Bot</h1>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
              <form class="form-inline ml-auto ">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
          </nav>
        </header>
        <div class="container">
          <div class="p-4">
              <ul class="">
                  <li class="" id="top-li">Total Market Cap
                  <li class="text-danger" id="top-li">${}</li>
                  </li>
                  <li class="" id="top-li">24h Volume
                  <li class="text-danger" id="top-li">${}</li>
                  </li>
              </ul>
          </div>
          <div class="text-center">
              <h2>A Little About Crypto Currencies</h2>
              <p>A cryptocurrency is a digital or virtual currency that is secured by cryptography, which makes it
                  nearly impossible to counterfeit or double-spend. Many cryptocurrencies are decentralized networks
                  based on blockchain technology—a distributed ledger enforced by a disparate network of computers.</p>
          </div>
          <div>
            <div class="text-center my-4">
                <h2 class="">Past 24h Winners/Losers</h2>
            </div>
            <div class="row">
                <div class="col">
                    <h3><u>Winners</u></h3>
                    <ol id="winner">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                    </ol>
                </div>
                <div class="col">
                    <h3><u>Losers</u></h3>
                     <ol id="loser">
                         <li>1</li>
                         <li>2</li>
                         <li>3</li>
                         <li>4</li>
                         <li>5</li>
                         <li>6</li>
                         <li>7</li>
                         <li>8</li>
                         <li>9</li>
                         <li>10</li>
                     </ol>
                </div>
            </div>
          </div>




          <div id="aboutUs" class="my-5">
              <div class="row">
                  <div class="card-columns">
                      <div class="card">
                          <img class="card-img-top" src="imgs/max-bender-3KcQcZWu0Ak-unsplash.jpg" alt="">
                          <div class="card-body">
                              <h4 class="card-title">Contact Info</h4>
                              <ul>
                                  <li>Giuliano Serawop</li>
                                  <li>Gserawop13@gmail.com</li>
                              </ul>
                              <section class="row">
                                  <artical class="col-sm-1">

                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.facebook.com/giuliano.serawop.5" target="_blank"><i
                                              id="socialMedia" class="fab fa-2x fa-facebook"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.instagram.com/jewls_9/" target="_blank"><i id="socialMedia"
                                              class="fab fa-2x fa-instagram"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.linkedin.com/in/giuliano-serawop-526782194/"
                                          target="_blank"><i id="socialMedia" class="fab fa-2x fa-linkedin"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://github.com/Jewls250" target="_blank"><i id="socialMedia"
                                              class="fab fa-2x  fa-github-square"></i></a>
                                  </artical>
                              </section>
                          </div>
                      </div>
                      <div class="card">
                          <img class="card-img-top" src="imgs/cristina-gottardi-0LZY319nFUc-unsplash.jpg" alt="">
                          <div class="card-body">
                              <h4 class="card-title">Contact Info</h4>
                              <ul>
                                  <li>River</li>
                                  <li>River@gmail.com</li>
                              </ul>
                              <section class="row">
                                  <artical class="col-sm-1">

                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.facebook.com/giuliano.serawop.5" target="_blank"><i
                                              id="socialMedia" class="fab fa-2x fa-facebook"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.instagram.com/jewls_9/" target="_blank"><i id="socialMedia"
                                              class="fab fa-2x fa-instagram"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.linkedin.com/in/giuliano-serawop-526782194/"
                                          target="_blank"><i id="socialMedia" class="fab fa-2x fa-linkedin"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://github.com/Jewls250" target="_blank"><i id="socialMedia"
                                              class="fab fa-2x  fa-github-square"></i></a>
                                  </artical>
                              </section>
                          </div>
                      </div>
                      <div class="card">
                          <img class="card-img-top" src="imgs/max-bender-3A3IkRM7Y2o-unsplash.jpg" alt="">
                          <div class="card-body">
                              <h4 class="card-title">Contact Info</h4>
                              <ul>
                                  <li>Shane Townsend</li>
                                  <li>Shane@maceinnovations.com</li>
                              </ul>
                              <section class="row">
                                  <artical class="col-sm-1">

                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.facebook.com/ShaneLT97" target="_blank"><i
                                              id="socialMedia" class="fab fa-2x fa-facebook"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.instagram.com/shanelt97/" target="_blank"><i id="socialMedia"
                                              class="fab fa-2x fa-instagram"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://www.linkedin.com/in/shane-townsend-931b8b194/"
                                          target="_blank"><i id="socialMedia" class="fab fa-2x fa-linkedin"></i></a>
                                  </artical>
                                  <artical class="col-sm-2">
                                      <a href="https://github.com/ShaneLT97" target="_blank"><i id="socialMedia"
                                              class="fab fa-2x  fa-github-square"></i></a>
                                  </artical>
                              </section>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <footer class="p-4">
            <h3 class="text-center text-white">&copy;Lambo Bot | 2021</h3>
        </footer>
</body>
</html>